.card{
    @apply block  p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700;
}

.card-titulo{
    @apply mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white;
}

.card-descripcion{
    @apply font-normal text-gray-700 dark:text-gray-400;
}


.cubo{
    width: 58px;
    height: 58px; 
    background-color: rgb(216, 26, 216);
    cursor: pointer;
    position: absolute;
    border-radius: 6px;
}

.objetivo {
    width: 64px;
    height: 64px;
    border: 2px dashed white; /* Línea discontinua en el borde */
    position: absolute;
}


dialog[open] { 
    @apply text-white bg-slate-700 flex flex-col items-center gap-8 p-12 rounded-lg;


}